<section class="dashboard-container mt-7">
  <div class="flex items-center justify-center gap-10 col-1">
    <div
      class="content bg-[--secondary-color] w-[300px] text-center pt-4 pb-10 shadow-style cursor-pointer"
      routerLink="/categories"
    >
      <i
        class="fa-solid fa-clipboard-list text-4xl mb-1 text-[--primary-color]"
      ></i>
      <h3 class="text-2xl text-[--primary-color] mb-2">Category</h3>
      <p class="">Manage Your Catergory Details Here.</p>
    </div>
    <div
      class="content bg-[--secondary-color] w-[300px] text-center pt-4 pb-10 shadow-style cursor-pointer"
      routerLink="posts"
    >
      <i
        class="fa-solid fa-file-image text-4xl mb-1 text-[--primary-color]"
      ></i>
      <h3 class="text-2xl text-[--primary-color] mb-2">Posts</h3>
      <p class="">Manage Your Posts Details Here.</p>
    </div>
  </div>
  <div class="flex items-center justify-center gap-10 mt-8 col-2">
    <div
      class="content bg-[--secondary-color] w-[300px] text-center pt-4 pb-10 shadow-style"
    >
      <i
        class="fa-solid fa-clipboard-list text-4xl mb-1 text-[--primary-color]"
      ></i>
      <h3 class="text-2xl text-[--primary-color] mb-2">Catergory</h3>
      <p class="">Manage Your Catergory Details Here.</p>
    </div>
    <div
      class="content bg-[--secondary-color] w-[300px] text-center pt-4 pb-10 shadow-style"
    >
      <i
        class="fa-solid fa-clipboard-list text-4xl mb-1 text-[--primary-color]"
      ></i>
      <h3 class="text-2xl text-[--primary-color] mb-2">Catergory</h3>
      <p class="">Manage Your Catergory Details Here.</p>
    </div>
  </div>
</section>
