<footer class="bg-[--navbar-footer-color] relative h-full mt-36 bottom-0">
  <div
    class="logo bg-[--secondary-color] px-4 py-1 rounded-2xl text-center mb-2 text-[--primary-color]"
  >
    ANG-BLOG
  </div>
  <div class="nav">
    <ul class="flex justify-center mb-2">
      <li><a routerLink="" class="ml-4 text-[--primary-color]">Home</a></li>
      <li>
        <a routerLink="about" class="ml-4 text-[--primary-color]">About</a>
      </li>
      <li>
        <a routerLink="term-condition" class="ml-4 text-[--primary-color]"
          >Terms & Condition</a
        >
      </li>
      <li>
        <a routerLink="contact" class="ml-4 text-[--primary-color]">Contact</a>
      </li>
    </ul>
    <div class="mt-5 text-center copyright">
      CopyRight &#64; 2024 Mario's Blogsite
    </div>
  </div>
</footer>
